<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.dkit.mapper.GoodsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ie.dkit.entity.Goods">
        <id column="goods_id" property="goodsId"/>
        <result column="store_id" property="storeId"/>
        <result column="type" property="type"/>
        <result column="goods_name" property="goodsName"/>
        <result column="barcode" property="barcode"/>
        <result column="description" property="description"/>
        <result column="cate_id" property="cateId"/>
        <result column="cate_name" property="cateName"/>
        <result column="brand" property="brand"/>
        <result column="spec_qty" property="specQty"/>
        <result column="spec_name_1" property="specName1"/>
        <result column="spec_name_2" property="specName2"/>
        <result column="spec_name_3" property="specName3"/>
        <result column="if_show" property="ifShow"/>
        <result column="time_starter" property="timeStarter"/>
        <result column="time_over" property="timeOver"/>
        <result column="closed" property="closed"/>
        <result column="close_reason" property="closeReason"/>
        <result column="add_time" property="addTime"/>
        <result column="last_update" property="lastUpdate"/>
        <result column="default_spec" property="defaultSpec"/>
        <result column="default_image" property="defaultImage"/>
        <result column="recommended" property="recommended"/>
        <result column="cate_id_1" property="cateId1"/>
        <result column="cate_id_2" property="cateId2"/>
        <result column="cate_id_3" property="cateId3"/>
        <result column="cate_id_4" property="cateId4"/>
        <result column="price" property="price"/>
        <result column="tags" property="tags"/>

        <!--        <collection property="goodsImageList" column="goods_id" ofType="ie.dkit.entity.GoodsImage" select="selectByImageId" />-->
        <collection property="goodsImageList" column="goods_id" ofType="ie.dkit.entity.GoodsImage"
                    select="ie.dkit.mapper.GoodsImageMapper.selectImageByGoodsId" />

<!--        fetchType="lazy"-->

    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select goods_id
             , store_id
             , type
             , goods_name
             , barcode
             , description
             , cate_id
             , cate_name
             , brand
             , spec_qty
             , spec_name_1
             , spec_name_2
             , spec_name_3
             , if_show
             , time_starter
             , time_over
             , closed
             , close_reason
             , add_time
             , last_update
             , default_spec
             , default_image
             , recommended
             , cate_id_1
             , cate_id_2
             , cate_id_3
             , cate_id_4
             , price
             , tags
        from ecm_goods
    </sql>

</mapper>